@charset "UTF-8";


.inner {
  width: 1100px;
  margin: auto;
}

body {
  font-family: Lato;
}

.is-raleway {
  font-family: 'Raleway';
}
/* header */
.header {
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 100;
}

.header-inner {
  display: flex;
  justify-content: space-between; 
  padding: 15px 0;
  text-align: center;
  
}

.fa-bolt {
  font-size: 40px;
}

.header_button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 15px;
  text-decoration: none; 
  transition: color .3s;
}

.header_button:hover {
  color: #333;
  transition: color .3s;
}

.header_menu {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  padding: 10px;
  position: relative;
  width: 60px;
}

.header_menu span {
  background-color: #ddd;
  box-sizing: border-box;
  height: 2px;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30px;
}

.header_menu span:nth-child(1) {
  top: 10px;
}

.header_menu span:nth-child(2) {
  top: 20px;
}

.header_menu span:nth-child(3) {
  top: 30px;
}
/* main */
  /* -theme- */
.main {
  padding-top: 72px;
  width: 100%;
}

.main_theme {
  background-color: #f2f2f2;
  width: 100%;
}

.main_inner {
  padding: 250px 0;
}

.main_theme_text {
  text-align: center;
}

.main_theme_text h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.main_theme_text p {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

  /* -phone- */
.top_section {
  background-color: #74cfae;
 }

.top_section_contents {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.top_section img {
  vertical-align: middle;
}

.top_section_text {
  color: #fff;
  margin-left: 100px;
  text-align: center;
  width: 700px;
 }

.top_section_text h2 {
  font-size: 24px;
 }

.top_section_text p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 35px;
 }

  /* -work- */
.article {
  background-color: #f2f2f2;
 } 

.article_inner {
  padding: 60px 0 70px;
}

.article_top_text {
  font-size: 24px;
  text-align: center;
} 

.article_images {
  margin-top: 40px;  
}

.article_images img {
  vertical-align: middle;
}

.article_images ul {
  display: flex;
  flex-wrap: wrap;
}

.article_images li {
  margin-left: 100px;
}

.article_images li:nth-child(3n+1) {
  margin-left: 0;
}

.article_images li:nth-child(n+4) {
  margin-top: 80px;
}

.article_images a {
  opacity: .7;
  transition: opacity .3s;
}

.article_images a:hover {
  opacity: 1;
  transition: opacity .3s;
}

.article_bottom_text {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.article_bottom_text p {
  line-height: 1.5;
  text-align: center;
  width: 550px;
}

.article_button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: color .3s;
}

.article_button:hover {
  color: #333;
  transition: color .3s;
}

  /* -skills- */
.bottom_section {
  background-color: #4e4e4e;
}

.bottom_section_inner {
  padding: 70px 0 100px;
}

.bottom_section h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.bottom_section_images {
  margin-top: 50px;
}

.bottom_section_images ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bottom_section_images li {
  margin-left: 180px;
}

.bottom_section_images li:first-child {
  margin-left: 0;
}

.bottom_section_images p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

  /* -sns- */
.nav {
  background-color:	#f2f2f2;
}

.nav_icons {
  margin: auto;
  padding: 200px 0;
}

.nav_icons ul {
  display: flex;
  justify-content: center;
}

.nav_icons li {
  text-align: center;
  transition: background-color .3s;
  width: 185px;
}

.nav_icons a {
  display: block;
  padding: 20px 0;
}

.icon {
  color: #74cfae;
  font-size: 60px;
  transition: background-color .3s;
}

.nav_icons li:hover {
  background-color: #fff;
  transition: background-color .3s;
}

/*footer*/
.footer {
  background-color: #74cfae;
}

.footer_inner {
  padding: 20px 0 25px;
  text-align: right;
}

.footer_text {
  color: #fff;
}


@media screen and ( max-width:1199px) {
/*TAB*/
.inner {
  width: 97%;
}

/*phone*/
.top_section_contents {
  flex-flow: column;
  padding-bottom: 25px;
}

.top_section_text {
  margin-left: 0;
  margin-top: 20px;
}

/* -work- */
.article_inner {
  text-align: center;
}

.article_images ul {
  flex-flow: column;
}

.article_images li {
  margin-left: 0;
}

.article_images li:nth-child(n+4) {
  margin-top: 0;
}

.article_images li:nth-child(3n+1) {
  margin-top: 80px;
}

.article_images li:first-child {
  margin-top: 0;
}

.article_bottom_text {
  flex-flow: column;
  margin-top: 80px;
}

.article_button {
  margin: 40px 0 0;
}

/* -skills- */
.bottom_section_images ul {
  flex-flow: column;
}

.bottom_section_images li {
  margin-left: 0;
  margin-top: 88px;
}

.bottom_section_images ul :first-child {
  margin-top: 0;
}

}

@media screen and (max-width:767px) {
/*SP*/
.inner {
  width: 97%;
}

/*header*/    
.header_button {
  display: none;
}

.header_menu {
  display: block;
}

/*theme*/
.main_inner {
  padding: 160px 0  130px;
}

.main_theme_text h1 {
  font-size: 80px;
}

.main_theme_text p {
  font-size: 30px;
  margin-top: 20px;
}

/* -sns- */
.nav_icons {
  padding: 0;
}

.nav_icons ul {
  flex-flow: column;
  padding: 50px 0;
}

.nav_icons li {
  width: 100%;
}

}